
.results-page {  
  min-height: 100vh;
  background-color:var( --bg-elevated);
  border-radius: 12px; 
  width: 100%; 
  display: flex;
}
.results-con{
  margin-top: 90px;
  width: 100%;
  padding: 4px;
}
.results-page h2 {
  font-size: 1.5rem;
  margin-bottom: 24px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 24px;
}

th, td {
  border: 1px solid #334155;
  padding: 10px;
  text-align: center;
  color: #e5e7eb;
}

th {
  background-color: #1e293b;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 8px; 
  color: #fff;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

 



.exam-card{
  border: 1px solid rgb(151, 151, 151); 
  padding: 15;
  margin-bottom: 15 ;
  width: fit-content;
}

.exams-con{
  display: flex;
  gap: 1vh;
}
.exam-card-btns{
  display: flex;
}

.exam-card-btns button{
  font-size: 0.6rem;
  padding: 5px ;
}



@media (max-width: 600px) {
  .exams-con{
  display: flex;
        flex-wrap: wrap;
        gap: 1vh 1vw;
  justify-content: center;
  align-items: center;
}

}


@media (min-width: 768px) {
.results-con{
  margin-top: 10px;
  width: 100%;
  padding: 4px;
}
  .exams-con{
  display: flex;
        flex-wrap: wrap;
        gap: 1vh 1vw;
  justify-content: center;
  align-items: center;
}
}        